<div class="container">
    <h1>Ajouter des workflows</h1>
    <p>Un workflow d'archivage électronique est une série organisée d'étapes automatisées <br> pour la gestion efficace
        des documents numériques, de leur capture à leur stockage sécurisé et leur archivage,<br> en passant par
        l'indexation, l'approbation, et la gestion du cycle de vie.</p>
    <div class="row">
        <div class="col-md-5">
            <div class="">
                <form [formGroup]="workflowForm" (ngSubmit)="onSubmit()" >
                <label for="exampleFormControlInput1" class="form-label">Nom Du Workflow</label>
                <input class="form-control form-control-lg mb-1" formControlName="name" type="text" placeholder="Nom Du Workflow"
                    aria-label=".form-control-lg example">

                    <div class="mb-3" style="width: 100%;"><label
                        for="exampleFormControlTextarea1"   class="form-label">Description de ce workflow</label>
                    <textarea  formControlName="description" id="exampleFormControlTextarea1" rows="2" class="form-control"></textarea>
                </div>
                    <app-button-spinner
                    backgroundColor="green"
                    textColor="white"
                    [disabled]="isLoading"
                    [buttonText]="'Enregistrer le workflow'" 
                    >
                </app-button-spinner>
            </form>
            </div>
            <div *ngFor="let user of userList">
                <div class="div-work-user">
                    <button class="absolute btn " style="position: absolute; right: 20px; color: green;"
                        (click)="addToWorkflow(user)">Ajouter au workflow</button>
                    <p>{{user.name}}</p>
                    <p>Service: {{user.service}}</p>
                    <p><span class="badge badge-primary rounded-pill d-inline">{{user.grade}}</span></p>
                </div>

            </div>
        </div>
        <div class="col-md-7">
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="workflow" class="example-list p-4"
                (cdkDropListDropped)="drop($event)">
                <p class="text-warning text-center">L'ordre du workflow est du haut vers le bas</p>
                <div *ngIf="workflow.length === 0" style="width: 100%; align-items: center; justify-content: center; display: flex;">
                    <div style="width: 300px;">
                        <img src="../../../../../assets/images/workflow.png" width="300px" height="300px" alt="Image par défaut">
                        <h4 class="text-center">Ajouter des utilisateurs au workflow et assigner leurs une tâche</h4>
                    </div>   
                </div>
                @for (item of workflow; track item) {
                <div class="example-box" cdkDrag>
                    <div class="div-work-user">
                        <button class="absolute btn " style="position: absolute; right: 30px; color: rgb(164, 0, 0);"
                        (click)="removeToWorkflow(item)" >Supprimer du workflow</button>
                        <p>{{item.name}} <span class="badge badge-primary rounded-pill d-inline" style="background: green;">{{item.grade}}</span></p>
                        <div style="display: flex;">
                            <img src="../../../../../assets/images/9131529-min.png" style="width: 40px; height: 40px;margin-right: 10px;" alt="">

                            <div _ngcontent-ng-c1801250392="" class="mb-3" style="width: 100%;"><label _ngcontent-ng-c1801250392=""
                                    for="exampleFormControlTextarea1"   class="form-label">Tâches à effectuer</label>
                                <textarea id="exampleFormControlTextarea1" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

</div>