<div id="layout-wrapper">
    <app-header></app-header>


    <!-- ========== Left Sidebar Start ========== -->

    <app-sidebar></app-sidebar>
 
    <!-- Left Sidebar End -->

    

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content" style="">


        <div class="page-content">
            <div class="container-fluid">


                <!-- end page title -->
                <router-outlet></router-outlet>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

    </div>
    <!-- end main content-->

</div>
