/* Styles pour le thème Sombre */
body.dark-theme {
  background-color: #333333;
  color: #ffffff;
}



body.dark-theme main {
  background-color: #111111;
  color: #dddddd;
}

body.dark-theme #page-topbar {
  background-color: #000;
} 

body.dark-theme .card {
  border: 1px solid #bbbbbbba;
  background: #333333;
  color: aliceblue;
}
body.dark-theme .card-header {
  background: #000000;
  color: aliceblue;
}



body.dark-theme .form-select {
  color: #ffffff;

  background-color: #000;

}
body.dark-theme .form-control{
  color: #ffffff;

  background-color: #000;

}

body.dark-theme .example-list[_ngcontent-ng-c4068088352] {

  background: #00000021;

}

body.dark-theme .search-bar {
  background: #333333;
  color: white;
  border: 1px solid #ffff;
}

body.dark-theme .p-toggle-theme {
  color: white !important;
}
/* .accordion-body {

  background: #0e0e0e !important;
}
.card-header {

  background: #21212100;
  color: white;
}
.card-header h3,h2{

  color: white ;
}

.card-header p{

  color:orange !important;
} */

body.dark-theme .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #404040 !important;
}

body.dark-theme .mat-mdc-select {

  color: rgb(255, 255, 255) !important;
}
body.dark-theme .mat-mdc-select-arrow {
  color: rgb(255, 255, 255) !important;
}

body.dark-theme .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: rgb(255, 255, 255) !important;
}

body.dark-theme .annot-div {
  background: #909090 !important;
}

body.dark-theme i{

  color: #ffff !important;
}

body.dark-theme .modal-user-workflow {
  background: #909090 !important;
}
body.dark-theme .modal-user-workflow .div-user {
  background: #373737 !important;
}

body.dark-theme .modal-content{
  background: #404040;
}

body[data-sidebar=dark] .navbar-brand-box {
  background: #000000;
  border-bottom: 1px solid #393938;
}
body.dark-theme td, th {
  color:white 
}

body.dark-theme  .table>tbody {
    background: #333333;
}

body.dark-theme .table-hover>tbody>tr:hover>* {

  background: #000407;
}

body.dark-theme .table-hover>tbody>tr:hover>* {
  --bs-table-color-state: var(--bs-table-hover-color);
  --bs-table-bg-state: rgb(0 0 0 / 31%);
}

body.dark-theme .btn-search{
  color:#ffff;
}

body.dark-theme .p-description{
  color: #ffffff;


}

body.dark-theme #page-topbar {

  background-color: #30a3ff !important;

}

body.dark-theme body[data-sidebar=dark] .navbar-brand-box {
  background: #30a3ff !important;
  border-bottom: 0px solid #393938 !important;
}

body.dark-theme  .context-menu {

  background: black !important;

}


body.dark-theme body[data-sidebar=dark] .link-breadcrumb {

  color: white !important;

}

body.dark-theme  .user-search-dropdown{

  background: rgb(0, 0, 0) !important;
}

body.dark-theme .result-search-header-bar{
  background: #392f2f !important;

}