/* Styles pour le thème Sombre */
body.dark-theme {
  background-color: #333333;
  color: #ffffff;
}



body.dark-theme main {
  background-color: #111111;
  color: #dddddd;
}

body.dark-theme #page-topbar {
  background-color: #000;
} 

body.dark-theme .card {
  border: 1px solid #bbbbbbba;
  background: #333333;
  color: aliceblue;
}
body.dark-theme .card-header {
  background: #000000;
  color: aliceblue;
}



body.dark-theme .form-select {
  color: #ffffff;

  background-color: #000;

}
body.dark-theme .form-control{
  color: #ffffff;

  background-color: #000;

}

body.dark-theme .example-list[_ngcontent-ng-c4068088352] {

  background: #00000021;

}

body.dark-theme .search-bar {
  background: #333333;
  color: white;
  border: 1px solid #ffff;
}

body.dark-theme .p-toggle-theme {
  color: white !important;
}
/* .accordion-body {

  background: #0e0e0e !important;
}
.card-header {

  background: #21212100;
  color: white;
}
.card-header h3,h2{

  color: white ;
}

.card-header p{

  color:orange !important;
} */

body.dark-theme .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #404040 !important;
}

body.dark-theme .mat-mdc-select {

  color: rgb(255, 255, 255) !important;
}
body.dark-theme .mat-mdc-select-arrow {
  color: rgb(255, 255, 255) !important;
}

body.dark-theme .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: rgb(255, 255, 255) !important;
}