.devices_btn a {
    margin-bottom: 10px;
    font-family: sans-serif;
}

.color_button {
    border: 0;
    display: inline-block;
    padding: 4px 25px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    white-space: nowrap;
    -webkit-transition: .5s;
    transition: .5s;
}

.folder_name{

    margin-left: 10px;
    font-weight: 900;

}
.folder-column{
    width: 144px;height: 160px;
    margin-left: 30px;
}