<div class="container" >
    <form [formGroup]="modeleCourrierForm" (ngSubmit)="onSubmit()" >
    <div class="card" style="">
        <div class="card-header">
            <h3 class=" bg-transparent text-uppercase mb-0 mt-0 pt-0 pb-0">Créer un modele personnalisé</h3>
            <p class="card-header mt-0 pt-0 pb-0 text-warning" style="background: #fff0;">Un modèle de courrier est un outil qui
                permet aux utilisateurs de créer des courriers ou des lettres en utilisant un format préétabli</p>
        </div>
        <div class="card-body row">

            <div class="col-md-6">
                <div class="">
                    <br /><br />
                    <label for="exampleFormControlInput1" class="form-label">Nom Du Modèle</label>
                    <input class="form-control form-control-lg" formControlName="name" type="text" placeholder="Nom Du Modèle"
                        aria-label=".form-control-lg example">
                </div>

                <br />

                <div class="card">
                    <h5 class="card-header bg-transparent">Type De Courrier Du Modèle</h5>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="col-md-12 col-form-label">Type De Courrier</label>
                            <div class="col-md-10">
                                <select class="form-select" formControlName="type">
                                    <option>Courrier Départ</option>
                                    <option>Courrier Arrivé</option>
                                    <option>Courrier Interne</option>
                                    <option>Document GED</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <br />
                <div class="card">
                    <h5 class="card-header bg-transparent border-bottom text-uppercase">Champs Personnalisés</h5>
                    <div class="card-body">
                        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="field_drop"
                            [cdkDropListConnectedTo]="[doneList]" class="example-list p-4"
                            (cdkDropListDropped)="drop($event)">
                            @for (item of field_drop; track item) {
                            <div class="example-box" cdkDrag>
                                <div>
                                    <p *ngIf="item.type === 'number'" class="m-0 text-warning field-note">Champs type
                                        nombre</p>
                                    <p *ngIf="item.type === 'text'" class="m-0 text-warning field-note">Champs type
                                        texte</p>

                                    <h4 class="m-0"><i class="fa-solid fa-up-down-left-right"></i> {{item.label}}</h4>
                                </div>
                            </div>
                            }
                        </div>

                    </div>

                </div>
                
                <app-button-spinner
                    backgroundColor="green"
                    textColor="white"
                    [disabled]="disabled"
                    [isSpinnerLoading]="isSpinnerLoading"
                    [buttonText]="'Enregistrer le modele'" 
                    >
                </app-button-spinner>


            </div>
            <div class="col-md-6">

                <div class="example-container">
                    <h2>Champs Personnalisés</h2>
                    <p>Glisser et déposer dans la partie gauche</p>

                    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="field_no_drop"
                        [cdkDropListConnectedTo]="[todoList]" class="example-list p-4"
                        (cdkDropListDropped)="drop($event)">
                        @for (item of field_no_drop; track item) {
                        <div class="example-box" cdkDrag>
                            <div>
                                <p *ngIf="item.type === 'number'" class="m-0 text-warning field-note">Champs type nombre
                                </p>
                                <p *ngIf="item.type === 'text'" class="m-0 text-warning field-note">Champs type texte
                                </p>

                                <h4 class="m-0"><i class="fa-solid fa-up-down-left-right"></i> {{item.label}}</h4>

                            </div>

                        </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
</div>