<div class="container">
<div class="mt-2 mb-2" style="display: flex; justify-content: space-between; ">
    <input type="text" [formControl]="searchControl" class="form-control mt-2" placeholder="Recherche" style="width:200px">
    <a routerLink="/tableau-de-bord/creer-modele-document" routerLinkActive="active"
    class="btn btn-primary">Nouveau modèle</a>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <div class="card-body">
                <div class="">
                    <div id="job-list_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table
                                    class="table align-middle dt-responsive nowrap w-100 table-check dataTable no-footer dtr-inline collapsed"
                                    id="job-list" aria-describedby="job-list_info" style="width: 799px;">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="sorting sorting_desc" tabindex="0"
                                                aria-controls="job-list" rowspan="1" colspan="1" style="width: 25px;"
                                                aria-sort="descending"
                                                aria-label="No: activate to sort column ascending">No</th>
                                            <th scope="col" class="sorting" tabindex="0" aria-controls="job-list"
                                                rowspan="1" colspan="1" style="width: 161px;"
                                                aria-label="Job Title: activate to sort column ascending">Nom du modèle</th>
                                            <th scope="col" class="sorting" tabindex="0" aria-controls="job-list"
                                                rowspan="1" colspan="1" style="width: 159px;"
                                                aria-label="Company Name: activate to sort column ascending">Type</th>
                        
                                            <th scope="col" class="sorting dtr-hidden" tabindex="0"
                                                aria-controls="job-list" rowspan="1" colspan="1"
                                                style="width: 0px;"
                                                aria-label="Posted Date: activate to sort column ascending">Créé le
                                            </th>
                                    
                                            <th scope="col" class="sorting_disabled dtr-hidden" rowspan="1" colspan="1"
                                                style="width: 0px; " aria-label="Action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let modele of  modeles | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: totalItems }; let i = index" data-id="1" style="cursor: pointer;">
                                            <td data-field="id" style="width: 80px">{{modele.id}}</td>
                                            <td data-field="name">{{modele.name}}</td>
                                            <td data-field="name">{{modele.type}}</td>
                                            <td data-field="name">{{modele.created_at | customDateFormat}}</td>
                                            <td style="width: 100px">
                                                <a class="btn btn-outline-secondary btn-sm edit" title="Modifier">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
        
                                                <a class="btn btn-danger btn-sm edit" style="margin-left: 10px;" title="Supprimer">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>


                                        
                                    </tbody>
                                </table>
                                <div class="col-12 mt-4">
                                    <div class="row">
                                      <div class="col-5">
                                          Total: {{totalItems}} Résultats
                                      </div>
                                      <div class="col-5">
                                          <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Précédent"
                                              nextLabel="Suivant"></pagination-controls>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>
           
                    </div>
                    <!-- end table -->
                </div>
                <!-- end table responsive -->
            </div>
            <!-- end card body -->
        </div><!--end card-->
    </div><!--end col-->

</div>
</div>