<div class="devices_btn justify-content-end" style="">
    <a class="color_button color_button2" href="#">Nouveau dossier</a>
    <a class="color_button" href="#">Affichage</a>
    <a class="color_button color_button3" href="#">Chercher</a>
</div>
<div class="row" style="padding-top: 50px;">
    <div *ngFor="let folder of folders" class="folder-column" style="">
        <img src="../../../assets/images/icons-folder.png" style="" />
        <p class="folder_name">
            {{ folder.name }}
        </p>
        
    </div>
</div>