<div class="container">
    <div style="display: flex;margin-bottom: 20px;background: #f3f3f3b8;padding: 5px;">
        <p style="color: rgb(0, 95, 37);
    font-size: 16px;cursor: pointer;margin-right: 15px;margin-bottom: 0px;
    padding-left: 10px;"><u><i class="fa-regular fa-folder-closed"></i> Fonds numériques</u> > </p>
        <p *ngFor="let path of paths" style="color:rgb(0, 95, 37);;
    font-size: 16px;cursor: pointer;margin-right: 15px;margin-bottom: 0px;
    padding-left: 10px;"><u><i class="fa-regular fa-folder-closed"></i> {{path.name}}</u> > </p>
        <p style="
        font-size: 14px; font-weight: 500; " class="mb-0"> {{detailsDocument.title}}</p>

    </div>

    <div style="display: flex;  margin-bottom: 20px; background: #ffffff00;">
        <i class="fa-regular fa-file-lines" style="font-size: 60px;"></i>
        <div class="ml-2">
            <h4>{{detailsDocument.title}} <span class="span bg-success badge me-2">{{versionDocument}}.0</span></h4>
            <div style="display: flex;">
                <span class="font-weight-700">Auteur: </span> {{detailsDocument.author.name}}
                <span class="font-weight-700">Ajouté le: </span> {{detailsDocument.created_at | customDateFormat}}

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-8">
            <div *ngIf="pdfSrc == '' " class="" style="background-color: #adadad; 
            z-index: 10;display: flex; align-items:center; 
            justify-content: center; width: 100%; height: calc(100vh - 100px); ">

                <span class="spinner-border spinner-border-xxl" style="font-size: 30px; width: 50px; height: 50px;"
                    role="status" aria-hidden="true"></span>

            </div>
            <img style="position: absolute; z-index: 20; left: calc(50% - 40px); width: 40px;"
                src="https://upload.wikimedia.org/wikipedia/commons/7/78/Qrcode_wikipedia_fr_v2clean.png" alt="">


            <div *ngIf="isVideoExtension(detailsDocument.extension)" style="height: calc(100vh - 387px);width: 100%;">
                <video controls *ngIf="videoLink !== ''" style="width: 100%; height: 100%; ">
                    <source [src]="videoLink" type="video/mp4">

                </video>
            </div>

            <div *ngIf="pdfSrc !== ''" style="height: calc(100vh - 100px);background: #adadad;
            display: flex;padding: 0px; overflow: hidden;">

                <div style="display: flex;position: absolute; right: 10px; z-index: 4;">

                    <button class="btn btn-success  mt-1 ml-1" (click)="setZoom('reduce')"
                        style="background: #730066;"><i class="fa-solid fa-minus"></i></button>

                    <button class="btn btn-success  mt-1 ml-0" (click)="setZoom('add')" style="background: #730066;"><i
                            class="fa-solid fa-plus"></i></button>

                    <button (click)="setIsModalFullcreenDocumentOpen()" class="btn btn-success  mt-1 ml-1" style="background: #007336;"><i
                            class="fa-solid fa-expand"></i></button>
                </div>
                <!-- Votre contenu à afficher si l'extension est une extension d'image -->
                <pdf-viewer *ngIf="pdfSrc !== ''" [src]="pdfSrc" [zoom]="zoom" [render-text]="true"
                    [original-size]="false" style="width: 100%;height: 100vh;z-index: 2;background: #adadad;">

                </pdf-viewer>
            </div>

        </div>
        <div class="col-md-4 p-2">
            <h4 style="background: #4caf5012;padding: 7px;">Action sur le document</h4>
            <p class="action-button" style=""><i class="fa-solid fa-sitemap"></i> Classer le document</p>
            <p 
                class="action-button"
                (click)="openHistoryModal()"
                style=""><i class="fa-solid fa-clock-rotate-left"></i> Historique dans le document</p>

            <p class="action-button" style="" (click)="setIsModalAllDetailsOpen()"><i class="fa-solid fa-circle-info"></i> Tous les propriétés</p>
            <p class="action-button" style="" (click)="setIsModalEditMetadataOpen()"><i class="fa-regular fa-pen-to-square"></i> Modifier le métadonnées</p>
            <p class="action-button" style="" (click)="openAnnotationModal()" ><i class="fa-regular fa-pen-to-square"></i> Annoter</p>
            <p class="action-button" style=""><i class="fa-regular fa-copy"></i> Copier vers</p>
            <p class="action-button" style=""><i class="fa-solid fa-circle-arrow-right"></i> Déplacer vers</p>
            <p class="action-button" style=""><i class="fa-solid fa-trash-can "></i> Supprimer</p>
            <a routerLink="/tableau-de-bord/document/creer-un-workflow" routerLinkActive="active"
                class="action-button mb-1">
                <i class="fa-solid fa-users" style="margin-bottom: 1rem;"></i> Démarrer un workflow
            </a>
            <p class="action-button" (click)="setIsModalDocumentInWorkflowOpen()" style="">
                <i class="fa-solid fa-users"></i> Dans les workflows
            </p>
            <p class="action-button" style=""><i class="fa-solid fa-lock"></i> Gérer les permissions</p>
            <p class="action-button" style="" 
                (click)="setModalNewVersionDocumentOpen()"
            ><i class="fa-solid fa-code-branch"></i>  Versions du
                document</p>
            <p class="action-button" style=""><i class="fa-solid fa-download"></i> Télécharger</p>



        </div>
    </div>
</div>
<app-modal-view-document 
[isOpenModal] = "isModalFullcreenDocumentOpen"
(closeModalEvent)="setIsModalFullcreenDocumentOpen()"
[pdfSrc]="pdfSrc"
  >

 </app-modal-view-document>

 <app-all-details [isOpenModal]="isModalAllDetailsOpen"  (closeModalEvent)="closeModalAllDetailsOpen()" [details]="detailsDocument"></app-all-details>
 <app-edit-metadata [isOpenModal]="isModalEditMetadataOpen"
  (closeModalEvent)="closeModalEditMetadataOpen()" [details]="detailsDocument"
   (editEvent)="onEditMetadata($event)" [notifySuccessEdit]="notifySuccessEditMetaData"></app-edit-metadata>


<app-modal-annotations [isOpenModalAnnotation]="isOpenModalAnnotation" [annotations]="annotations"
   [perPage]="annotationPerPage" [page]="currentAnnotationPage" (closeModalEvent)="closeAnnotationModal()" 
   (saveAnnotationEvent)="saveAnnotation($event)"
   (pageChangedEvent)="currentAnnotationPageChanged($event)" [totalItems]="totalItemsAnnotation"
   [notifySuccessSaveNotification]="notifySuccessSaveNotification"
   [isNotifyPaginationAnnotation]="isNotifyPaginationAnnotation"

   >
</app-modal-annotations>

<app-document-in-workflow 
[workflows]="workflows"
[isOpenModal]="isModalDocumentInWorkflowOpen"
 (closeModalEvent)="closeModalDocumentInWorkflowOpen()">

</app-document-in-workflow>

<app-add-new-version-document 
[isOpenModal]="isModalNewVersionDocumentOpen"
(closeModalEvent)="closeModalNewVersion()"
(saveVersionEvent)="saveNewVersion($event)"
[notifySuccessSaveVersion]="notifySuccessSaveNewVersion"
[versionNumber]="versionDocument"
></app-add-new-version-document>

<app-document-history
[isOpenModal]="isModalHistoryOpen"
[histories]="histories"
[page]="currentPaginationHistoryPage"
(closeModalEvent)="closeHistoryModal()"
(pageChangedEvent)="currentHistoryPageChanged($event)"
[totalItemsHistory]="totalItemsHistory"
[perPage]="annotationPerPage"
></app-document-history>

