<div class="container">
    <div class="row">

        <div class="col-xl-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card card-count">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-0">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                        <i class="bx  fa-regular fa-file-lines"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total documents</h5>
                            </div>
                            <div class="text-muted mt-4 mb-2">
                                <h4>1 452 <i class="mdi mdi-chevron-up ms-1 text-success "></i></h4>
                                <div class="d-flex">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card card-count">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-0">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                        <i class="bx  fa-solid fa-envelope-open-text"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Couriers</h5>
                            </div>
                            <div class="text-muted mt-4 mb-2">
                                <h4>250 <i class="mdi mdi-chevron-up ms-1 text-success "></i></h4>
                                <div class="d-flex">
                                                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card card-count">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-0">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                        <i class="bx  fa-solid fa-user"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Nombre de dossiers</h5>
                            </div>
                            <div class="text-muted mt-4 mb-2">
                                <h4>5 <i class="mdi mdi-chevron-up ms-1 text-success"></i></h4>
                                
                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
    <h2>Documents</h2>
    <hr>
    <div class="flex1">
        <div  class="border-1 p-4 border-radius-5 mr-1" style="width: 350px;">
            <h5>Documents</h5>
            <canvas  width="400px" height="100px" id="document_chart"></canvas>
        </div>



        
        <div  class="border-1 p-4 border-radius-5 mr-1" style="width: 350px;">
            <h5>Documents dans workflows</h5>
            <canvas  width="400px" height="100px" id="workflow_chart"></canvas>
        </div>
    </div>
    <h2>Courriers</h2>
    <hr>
    <div class="flex1">
        <div  class="border-1 p-4 border-radius-5 mr-1" style="width: 350px;">
            <h5>Courriers</h5>
            <canvas  width="400px" height="100px" id="document_chart"></canvas>
        </div>



        
        <div  class="border-1 p-4 border-radius-5 mr-1" style="width: 350px;">
            <h5>Courriers dans workflows</h5>
            <canvas  width="400px" height="100px" id="workflow_chart"></canvas>
        </div>
    </div>

</div>