<div id="exampleModalLive" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
     style="padding-right: 17px; background: #00000063;" [ngStyle]="{'display': isOpenModal ? 'block' : 'none'}">
    <div class="modal-dialog  modal-dialog-scrollable" role="document">
        <div class="modal-content ">
            <div class="modal-header" style="background: #014306;">
                <h5 class="modal-title text-white" id="exampleModalLiveLabel">Détails</h5>

            </div>
            <div class="modal-body p-4">

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" (click)="closeModal()">Fermer</button>
           </div>
        </div>
    </div>
</div>
