.sidebar #sidebar_menu>li.mm-active>a::after {
    color: #ffff;
    transform: rotate(90deg) translate(0,-47%);
    opacity: 1;
    font-size: 16px;
    right: 5px;
    font-weight: 200;
}
.sidebar #sidebar_menu>li a::after {
    color: #fff;
    transform: rotate(0deg) translate(0,-47%);
    opacity: 1;
    font-size: 16px;
    right: 5px;
    color: #ffff;
    font-weight: 200;
}



  
  body::-webkit-scrollbar {
    width: 14px !important
  }
  
  body::-webkit-scrollbar-track {
    background:#8d9192 !important;
    border-radius: 3px !important;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #001561 !important ;
    border-radius: 3px !important;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {

  }