<div class="container">
    <h1>Mes tâches</h1>
    <br>
    <div class="flex1">


        <div class="card" style="width: 250px;">
            <div class="card-header" style="background: #8b0000; color: white;">
                Ma boite
            </div>
            <ul class="list-group list-group-flush" style="border: 1px solid #cfcfcf;">
                <li class="list-group-item" [ngStyle]="{'background': menuSelect == 5 ? '#d5dbff78' : ''}">
                    <a routerLink="/utilisateur/mes-taches/urgentes" style="color: #8b0000; font-weight: 600;"
                        (click)="selectMenu(5)" routerLinkActive="active">
                        Urgentes <span class="badge bg-danger">1</span>
                    </a>
                </li>
                <li class="list-group-item" [ngStyle]="{'background': menuSelect == 1 ? '#d5dbff78' : ''}">
                    <a routerLink="/utilisateur/mes-taches/en-cours" (click)="selectMenu(1)" routerLinkActive="active">

                        Tâches en cours

                    </a>
                </li>

                <li class="list-group-item" [ngStyle]="{'background': menuSelect == 6 ? '#d5dbff78' : ''}">
                    <a routerLink="/utilisateur/mes-taches/bientot-clotures" (click)="selectMenu(6)"
                     routerLinkActive="active">
                        Bientôt clôturées
                    </a>
                </li>

                <li class="list-group-item" [ngStyle]="{'background': menuSelect == 2 ? '#d5dbff78' : ''}">
                    <a routerLink="/utilisateur/mes-taches/tous-les-taches" (click)="selectMenu(2)"
                        routerLinkActive="active">
                        Toutes les tâches
                    </a>
                </li>


                <li class="list-group-item" [ngStyle]="{'background': menuSelect == 3 ? '#d5dbff78' : ''}">
                    <a routerLink="/utilisateur/mes-taches/terminees" (click)="selectMenu(3)" routerLinkActive="active">
                        Tâches terminées
                    </a>
                </li>
                <li class="list-group-item" [ngStyle]="{'background': menuSelect == 5 ? '#d5dbff78' : ''}">

                </li>


            </ul>
        </div>


        <div style="width: calc(100% - 250px); margin-left: 10px;">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>

                        <tr *ngFor="let task of tasks |
                                 paginate: { itemsPerPage: perPage, currentPage: page,
                                    totalItems: totalItems  }" 
                                    
                                    [ngStyle]="{'background-color': task.read ? '#effbff99' : ''}"
                                      
                                      style="cursor: pointer;" (click)="gotoDetailsTask(task.workflow.id, task.id)">
                            <td class="action" style="width: 40px;">
                                <i class="fa-solid fa-bullseye" *ngIf="!task.workflow.is_finish" style="color: rgb(255, 81, 0); font-size: 20px;"></i>
                   

                                <i *ngIf="task.workflow.is_finish" class="fa-regular fa-circle-check"
                                    style="color: rgb(0, 88, 0); font-size: 30px;"></i>
                            </td>
                            <td class="name" style="width: 60px;" [ngStyle]="{ 'font-weight': task.read ? '' : '600'}" >
                            
                                <app-circle-name-component [name]="task.workflow.initiatedBy.name"></app-circle-name-component>
                            
                            </td>
                            <td class="action" style="width: 40px;"><i _ngcontent-ng-c1605945726=""
                                    class="fa-solid fa-paperclip"></i></td>

                            <td class="subject">
                                <p class="ont-size-12 font-weigther-500 mb-0">{{task.workflow.initiatedBy.name}}</p>
                                <span [ngClass]="{
                                    'bg-warning': task.workflow.priority == 2,
                                    'bg-success': task.workflow.priority == 1,
                                    'bg-danger': task.workflow.priority == 3,
                                    'badge': true,
                                    'me-2': true
                                  }" >
                                    {{
                                    task.workflow.priority == 1 ? 'Normale' :
                                    task.workflow.priority == 2 ? 'Urgente' :
                                    task.workflow.priority == 3 ? 'Très Urgente' :
                                    task.workflow.priority
                                    }}</span><span style="font-weight: 700;  font-size: 16px;" [ngStyle]="{ 'font-weight': task.read ? '' : '500'}">

                                    {{
                                    task.workflow.type == 1 ? '' :
                                    task.workflow.type == 2 ? 'Réviser et approuver en groupe' :
                                    task.workflow.type == 3 ? 'Réviser et approuver en groupe Lecture uniquement' :
                                    task.workflow.type == 4 ? '' :
                                    task.workflow.type == 5 ? 'Réviser et approuver par plusieurs utilisateurs' :

                                    task.workflow.type
                                    }}</span>

                                <p class="mb-0">{{task.workflow.description | slice:0:120 }}...</p>
                            </td>

                            <td class="time" style="width: 100px;">{{task.workflow.created_at | customDateFormat}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-5">
                    Total: {{totalItems}} tâches
                </div>
                <div class="col-5">
                    <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Précédent"
                        nextLabel="Suivant"></pagination-controls>
                </div>
            </div>

        </div>
    </div>
</div>