<div class="container">
<div><h2>Les raccourcis</h2></div>
<div class="row">
    <div class="col-xl-4 col-md-6">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-regular fa-envelope h2 text-warning mb-0"></i>
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-muted mb-2">2 messages reçus</p>
                        <h5 class="mb-0">Mes courriers<span class="font-size-14 text-muted"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-regular fa-envelope h2 text-primary mb-0"></i>
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-muted mb-2">Envoyer un courrier</p>
                        <h5 class="mb-0">Ajouter un courrier <span class="font-size-14 text-muted"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-regular fa-file-lines h2 text-info mb-0"></i>
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-muted mb-2">Modèles</p>
                        <h5 class="mb-0">Ajouter un modèle document<span class="font-size-14 text-muted"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-xl-4 col-md-6">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-solid fa-users h2 text-warning mb-0"></i>
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-muted mb-2">Workflow</p>
                        <h5 class="mb-0">Ajouter un workflow<span class="font-size-14 text-muted"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-solid fa-users h2 text-primary mb-0"></i>
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-muted mb-2">Workflow </p>
                        <h5 class="mb-0">Les workflows <span class="font-size-14 text-muted"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-solid fa-grip-lines h2 text-primary mb-0"></i>
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-muted mb-2">Champs </p>
                        <h5 class="mb-0">Champs Personnalisés <span class="font-size-14 text-muted"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Archives</h2>
<div class="row">
    <div class="col-xl-4 col-md-6">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-solid fa-box-archive h2 text-warning mb-0"></i>
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-muted mb-2">1000 consultations</p>
                        <h5 class="mb-0">Consultations du jour<span class="font-size-14 text-muted"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4  col-md-6">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-solid fa-box-archive h2 text-primary mb-0"></i>
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-muted mb-2">Archives</p>
                        <h5 class="mb-0">Consulter <span class="font-size-14 text-muted"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-solid fa-box-archive h2 text-danger mb-0"></i>
                    </div>
                    <div class="flex-grow-1">
                        <p class="text-muted mb-2">Archives</p>
                        <h5 class="mb-0">Ajouter un utilisateur<span class="font-size-14 text-muted"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
</div>