<div class="container">
<h2>Choisir un workflow ou créer un workflow</h2>

<div class="row">
    <div class="col-xl-4 col-md-6 ">
        <a routerLink="/tableau-de-bord/document/creer-un-workflow/details/creer-un-nouveau-workflow" 
        routerLinkActive="active" class="workflow-body" >
        <div class="card mini-stats-wid">

            <div class="card-body">

 
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-solid fa-plus h4 text-warning mb-0"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="mb-0">Nouveau workflow <span class="font-size-14 text-muted"></span></h5>

                        <p class="text-muted mb-2">Ajouter un workflow</p>
                    </div>
                </div>
            
            </div>
        
        </div>
    </a>
    </div>
    <div class="col-xl-4   col-md-6">
        <a routerLink="/tableau-de-bord/document/creer-un-workflow/details/reviser-et-approuver-en-groupe" routerLinkActive="active" class="workflow-body" >
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-solid fa-users h4 text-primary mb-0"></i>
                    </div>
                    <div class="flex-grow-1">

                        <h5 class="mb-0">Réviser et approuver (en mode groupe) <span
                                class="font-size-14 text-muted"></span></h5>
                                <p class="text-muted mb-2">Peuvent annoter</p>

                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
    <div class="col-xl-4  col-md-6">
        <a routerLink="/tableau-de-bord/document/creer-un-workflow/details/reviser-et-approuver-en-groupe-lecture-seulement" routerLinkActive="active" class="workflow-body" >
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-solid fa-users h4 text-secondary mb-0"></i>
                    </div>
                    <div class="flex-grow-1">

                        <h5 class="mb-0">Réviser et approuver (en mode groupe) en Lecture <span
                                class="font-size-14 text-muted"></span></h5>
                                <p class="text-muted mb-2">Lire uniquement</p>

                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>

    <div class="col-xl-4  col-md-6">
        <a routerLink="/tableau-de-bord/document/creer-un-workflow/details/modele-par-defaut" routerLinkActive="active" class="workflow-body" >
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-solid fa-users h4 text-danger mb-0"></i>
                    </div>
                    <div class="flex-grow-1">

                        <h5 class="mb-0">Workflows par défaut <span
                                class="font-size-14 text-muted"></span></h5>
                                <p class="text-muted mb-2">Workflows créer par administrateur</p>

                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>

    <div class="col-xl-4  col-md-6">
        <a routerLink="/tableau-de-bord/document/creer-un-workflow/details/reviser-et-approuver-par-plusieurs-utilisateurs" routerLinkActive="active" class="workflow-body" >
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3 align-self-center">
                        <i class="fa-solid fa-user h4 text-primary mb-0"></i>
                    </div>
                    <div class="flex-grow-1">

                        <h5 class="mb-0">Révision par un ou plusieurs collègues <span
                                class="font-size-14 text-muted"></span></h5>
                                <p class="text-muted mb-2">Révision et approbation par un ou plusieurs collègues</p>

                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
</div>
</div>