.card {
    border: 1px solid rgba(187, 187, 187, 0.7294117647) !important;
    height: 100px;
}
.card {
    margin-top: 24px;
    /* -webkit-box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03); */
    box-shadow: 0rem 0rem rgba(18, 38, 63, .03);
}
.col-md-6, .col-xl-4{
    border: 0px solid rgba(187, 187, 187, 0.7294117647) !important;
    
}

.card:hover{

    background: #a8ffae;
}

.header {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(227,251,255,1) 0%, rgba(247,230,255,1) 100%);

}
.header-icon {
    font-size: 24px;
    margin-right: 20px;
}


.form-control, .form-select {

    border: 2px solid #627cff;
}