<div class="container">
    <form [formGroup]="courrierForm" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="col-md-5" style="
    overflow-y: scroll;
    height: calc(100vh - 100px);
">
                <div class="card" style="border: 1px solid #bbbbbbba;">
                    <h5 class="card-header bg-transparent border-bottom">Identifiant</h5>
                    <div class="card-body">
                        <div class="mb-3 "><label class="col-md-12 col-form-label">Identifiant du courrier <span class="optionnal">Optionnel</span></label>
                            <div class="col-md-12">
                                <input class="form-control" type="type" id="example-date-input"
                                placeholder="Identification"
                                formControlName="identifiant">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card" style="border: 1px solid #bbbbbbba;">
                    <h5 class="card-header bg-transparent border-bottom">Choisir le modèle du
                        courrier</h5>
                    <div class="card-body">
                        <div class="mb-3 "><label class="col-md-12 col-form-label">Modèle du courrier</label>
                            <div class="col-md-12">
                                <mat-form-field class="select-modele-component" style="width: 100%;">
                                    <mat-label>Choisir un modèle de courrier</mat-label>
                                    <mat-select [(value)]="selected" (selectionChange)="onSelectionChange($event)">
                                        <mat-option value="Modèle par défaut">Modèle par défaut</mat-option>
                                        <mat-option *ngFor="let modele of modeles"
                                            [value]="modele.name">{{modele.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="border: 1px solid #bbbbbbba;">
                    <h5 class="card-header bg-transparent border-bottom">Choisir le type de
                        courrier</h5>
                    <div class="card-body">
                        <div class="mb-3 ">
                            <label class="col-md-12 col-form-label">Type De Courrier</label>
                            <div class="col-md-12">
                                <select *ngIf="selectedModele ==''" class="form-select" [(ngModel)]="selectedType"
                                    formControlName="type" placeholder="Sélectionner un modèle">
                                    <option value="">-- Selectionner --</option>
                                    <option value="départ">Courrier Départ</option>
                                    <option value="arrivé">Courrier Arrivé</option>
                                    <option value="interne">Courrier Interne</option>
                                    <option value="ged">Document GED</option>
                                </select>
                                <input *ngIf="selectedModele !==''" class="form-control bg-primary text-white"
                                    type="text" readonly [value]="selectedModele">
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="card"
                    *ngIf="(selectedType  !== '' || selectedModele !== '') && selectedType !== 'ged' && selectedModele !== 'ged'">
                    <!-- Content of your card here -->
                    <h5 class="card-header bg-transparent border-bottom ">Objet Du Courrier</h5>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Objet du courrier</label>
                            <textarea class="form-control" placeholder="Objet du courrier"
                                id="exampleFormControlTextarea1" rows="2" formControlName="subject"></textarea>

                        </div>
                        <p><u>Joindre des fichiers</u></p>


                        <ul>
                            <li *ngFor="let file of selectedAttachmentFiles">
                                <button class="btn btn-danger p-1 mr-1 mt-1" (click)="removeFileAttachment(file)">x</button>
                                <span>{{ file.name }}</span>

                            </li>
                        </ul>
                        <button type="button" class="btn btn-light waves-effect waves-light w-sm"
                            (click)="fileInputAttachment.click()">
                            <i class="fas fa-plus mdi mdi-upload d-block font-size-16"></i>Ajouter des fichiers
                        </button>
                        <input type="file" multiple (change)="onFileAttachmentSelected($event)" #fileInputAttachment
                            hidden>


                    </div>
                </div>
                <br />
                <div class="card" *ngIf="courrierForm.get('type')?.value !== ''  || selectedModele !==''">
                    <h5 class="card-header bg-transparent border-bottom">Priorité</h5>
                    <div class="card-body">
                        <div class="mb-3 row">

                            <div class="col-md-12">


                                <mat-form-field style="width: 100%;">
                                    <mat-label>Priorité de traitement</mat-label>
                                    <mat-select [(ngModel)]="selectedPrio" formControlName="priority"
                                        style="width: 100%;">

                                        <mat-option value="1">Normale</mat-option>
                                        <mat-option value="2">Urgente</mat-option>
                                        <mat-option value="3">Très Urgente</mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card" *ngIf="courrierForm.get('type')?.value !== '' || selectedModele !==''">
                    <h5 class="card-header bg-transparent border-bottom ">Date</h5>
                    <div class="card-body">
                        <div class="mb-3 ">
                            <label for="example-date-input" class="col-md-12 col-form-label">Date Du Courrier</label>
                            <div class="col-md-10">
                                <input class="form-control" type="date" id="example-date-input" formControlName="date">
                            </div>
                        </div>

                        <div class="mb-3 "
                            *ngIf="courrierForm.get('type')?.value == 'arrivé' || selectedModele =='Courrier Arrivé'">
                            <label for="example-date-input" class="col-md-12 col-form-label">Date D'arrivée</label>
                            <div class="col-md-10">
                                <input class="form-control" type="date" id="example-date-input"
                                    formControlName="date_of_arrival">
                            </div>
                        </div>

                        <div class="mb-3 "
                        >
                            <label for="example-date-input" class="col-md-12 col-form-label">Date limite du traitement <span class="optionnal">Optionnel</span></label>
                            <div class="col-md-10">
                                <input class="form-control" type="date" id="example-date-input"
                                    formControlName="deadline_date">
                            </div>
                        </div>

                    </div>
                </div>
                <br />
                <div class="card" *ngIf="courrierForm.get('type')?.value !== '' || selectedModele !==''">
                    <h5 class="card-header bg-transparent border-bottom"
                        *ngIf="courrierForm.get('type')?.value == 'arrivé' || selectedModele =='Courrier Arrivé' || selectedModele =='Courrier Arrivé' || selectedModele =='Courrier Interne' || courrierForm.get('type')?.value == 'interne'">
                        Expéditeur</h5>
                    <h5 class="card-header bg-transparent border-bottom"
                        *ngIf="courrierForm.get('type')?.value == 'départ' || selectedModele =='Courrier Départ'">
                        Destinataire</h5>
                    <div class="card-body">
                        <div class="mb-3 row"
                            *ngIf="courrierForm.get('type')?.value == 'départ' || selectedModele =='Courrier Départ' || selectedModele =='Courrier Interne' || courrierForm.get('type')?.value == 'interne'">
                            <label for="example-text-input" class="col-md-12 col-form-label">Destinataire</label>

                            <div class="col-md-12">
                                <input class="form-control" type="text" id="example-text-input"
                                    placeholder="Destinataire du courrier" formControlName="recipient">
                                <p></p>
                            </div>
                        </div>
                        <div class="mb-3 row"
                            *ngIf="courrierForm.get('type')?.value == 'arrivé' || selectedModele =='Courrier Arrivé' || selectedModele =='Courrier Interne' || courrierForm.get('type')?.value == 'interne'">
                            <label for="example-text-input" class="col-md-12 col-form-label">Expéditeur</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" id="example-text-input"
                                    placeholder="Expéditeur du courrier" formControlName="sender">
                                <p></p>
                            </div>
                        </div>


                    </div>
                </div>
                <br />
                <div class="card" *ngIf="courrierForm.get('type')?.value !== '' || selectedModele !==''">
                    <h5 class="card-header bg-transparent border-bottom ">Annotation</h5>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Ajouter une annotation</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                                placeholder="Ecrire une annotation" formControlName="annotation"></textarea>

                        </div>


                    </div>
                </div>
                <app-customer-fields [customer_fields]="customer_fields"
                    [selectedModele]="selectedModele"></app-customer-fields>
                <div class="card" *ngIf="courrierForm.get('type')?.value !== '' || selectedModele !==''">
                    <h5 class="card-header bg-transparent border-bottom ">Entitée Traitante</h5>
                    <div class="card-body">

                        <div class="d-flex flex-wrap gap-2">
                            <button type="button" class="btn btn-primary waves-effect btn-label waves-light"
                                (click)="openDialogUser()"><i class="bx bx-block label-icon fa-solid fa-user"></i>
                                Utilisateur</button>

                            <button type="button" class="btn btn-secondary" (click)="openDialog()"><i
                                    class="bx bx-block label-icon fa-solid fa-users"></i> Workflow</button>
                            <div style="width: 100%;">
                                <p *ngIf="workFlowName !==''"
                                    style="width: fit-content;letter-spacing: 3px; font-size: 13px; background: #7b0042; color: #fff; padding-left: 20px; padding-right: 20px; border-radius: 15px;">
                                    <b> {{workFlowName}} </b>
                                </p>

                            </div>

                            <div *ngFor="let user of usersSelect">
                                <div style="display: flex;background: #7b0042;border-radius: 20px; 
                            margin-right: 10px;padding: 5px; padding-left: 10px;
                             padding-right: 10px; ">
                                    <p class="mb-0" style="color: #fff; ">{{user.name}}</p>
                                    <p class="mb-0" style="margin-left: 10px;
                              background: #565656;
                              color: white;
                              width: 20px;
                              height: 20px;
                              border-radius: 50%;
                              text-align: center;
                              cursor: pointer;" (click)="removeUser(user.id)">X</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="courrierForm.get('type')?.value !== '' || selectedModele !==''">
                    <h5 class="card-header bg-transparent border-bottom ">Mot clé</h5>
                    <div class="card-body">

                        <mat-form-field class="example-chip-list">
                            <mat-label>Cliquer pour ajouter un mot clé</mat-label>
                            <mat-chip-grid #chipGrid aria-label="Enter keywords">
                                @for (keyword of keywords; track keyword) {
                                <mat-chip-row (removed)="remove(keyword)" [editable]="true"
                                    (edited)="edit(keyword, $event)"
                                    [aria-description]="'press enter to edit ' + keyword.name">
                                    {{keyword.name}}
                                    <button matChipRemove [attr.aria-label]="'remove ' + keyword.name">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                                }
                                <input placeholder="Ajouter un mot clé..." [matChipInputFor]="chipGrid"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
                            </mat-chip-grid>
                        </mat-form-field>



                    </div>
                </div>
                <button type="submit" class="btn mt-3" [disabled]="disabled"
                    style="background: #0f3500;color: white;font-size: 17px;padding-left: 30px;padding-right: 30px;border-radius: 10px;display: flex;justify-content: center;align-items: center;">

                    <span *ngIf="isSpinnerLoading" class="spinner-border text-success" style="
            width: 20px;
            height: 20px;
        "></span>
                    <p class="mb-0 pl-2"> Enregistrer le courrier</p>
                </button>

            </div>

            <div class="col-md-7" style="height: calc(100vh - 100px); background-color: #ffffff00;
                height: calc(100vh - 100px);">
                <div class="flex1" *ngIf="courrierForm.get('modelCourrierHtml2')?.value !== 0 ">
                    <button (click)="updateContent()" class="btn btn-success" type="button">Uploader un fichier</button>

                    <select class="form-select" formControlName="modelCourrierHtml1"
                        style="font-size: 15px; font-weight: 900;">
                        <option value="0">Choisir un modèle</option>
                        <option value="1">Demande de document</option>
                        <option value="2">Demande de finacement</option>
                        <option value="3">Envoie de rapport mensuel</option>
                        <option value="4">Courrier Administratif</option>
                    </select>
                </div>
                <!-- MODELE DE COURRIER HTML -->
                <app-model-courrier-html [htmlContent]="htmlContent"
                    *ngIf="courrierForm.get('modelCourrierHtml2')?.value !== 0 "></app-model-courrier-html>


                <div *ngIf="isFileLoading" class=""
                    style="background-color: hsl(212, 100%, 74%); position: absolute;z-index: 10;display: flex; align-items:center;justify-content: center; width: 100%; height: 100%;">
                    <span class="spinner-border spinner-border-xxl" style="font-size: 30px; width: 50px; height: 50px;"
                        role="status" aria-hidden="true"></span>
                </div>
                <div style="position: absolute;z-index: 4;">


                    <button class="btn btn-danger" *ngIf="pdfSrc !== ''" (click)="removeFile()">Supprimer</button>

                </div>
                <pdf-viewer *ngIf="pdfSrc !== ''" [src]="pdfSrc" [render-text]="true" [original-size]="false"
                    style="width: 100%;height: calc(100vh - 100px);position: absolute;z-index: 2;background: #ffffff00;"></pdf-viewer>

                <div id="preview"></div>

                <div *ngIf="pdfSrc == '' || courrierForm.get('modelCourrierHtml2')?.value == 0" class="card"
                    style=" background-color: #0096880a; height: calc(100vh - 100px);">


                    <input type="file" (change)="onFileSelected($event)" id="file" #fileInputSelect hidden>

                    <div class="card-body" style=" background-color: #ffffff00;">

                        <h4 class="" style="position: absolute;">Document Du Courrier</h4>
                        <p class="" style="position: absolute; margin-top: 20px;">Ajouter le fichier word ou pdf ou
                            image
                        </p>

                        <div style="
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;">
                            <div>
                                <div class="dropzone dz-clickable mt-4" style=" background-color: #ffffff00; ">

                                    <div class="dz-message needsclick" style="" (click)="fileInputSelect.click()">
                                        <div class="mb-3" style="text-align: center;">
                                            <i style="color: #000000 !important;"
                                                class="display-4 text-muted bx bxs-cloud-upload fa-solid fa-cloud-arrow-up"></i>
                                        </div>

                                        <h4 class="m-4" style="text-align: center;">Déposez le fichier ici ou cliquez
                                            pour télécharger.</h4>
                                    </div>


                                </div>

                                <p class="mb-3 mt-3 text-center font-size-16 font-bold">- OU -</p>

                                <div class="mb-3 mt-2 ">

                                    <div class="col-md-12">
                                        <select class="form-select" formControlName="modelCourrierHtml2"
                                            style="font-size: 15px; font-weight: 900;">
                                            <option value="0">Choisir un modèle</option>
                                            <option value="1">Demande de document</option>
                                            <option value="2">Demande de finacement</option>
                                            <option value="3">Envoie de rapport mensuel</option>
                                            <option value="4">Courrier Administratif</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <div>


                </div>

                <app-model-courrier-html></app-model-courrier-html>

            </div>

        </div>
    </form>
</div>