
<div class="container">
    <div class="header">
        <div class="header-icon"><img
         style="width: 100px;"    src="assets/images/automatsation.png" alt=""></div>
        <div class="header-text">
            <h2>Continuez à organiser le contenu et à aller de l'avant.</h2>
            <p>Les règles d'automatisation peuvent aider à archiver des documents,
                 à modifier l'état d'un document ou à rappeler à vos collègues de terminer une tâche.</p>
        </div>
    </div>

    <h2 class="mb-4 mt-4">Règles d'automatisations</h2>

    <div class="grid">
        <div class="card">
            <div class="card-icons">🏷️ <i class="fa-solid fa-right-long"></i> 📝</div>
            <p>Archiver automatiquement les documents de courriers dans un dossier spécifique en fonction du modèle</p>

        </div>
        <div class="card">
            <div class="card-icons">📁 <i class="fa-solid fa-right-long"></i> 🗄️</div>
            <p>Archiver les documents après la fin d'un workflow</p>
        </div>
        <div class="card">
            <div class="card-icons">📅 <i class="fa-solid fa-right-long"></i> 📧</div>
            <p>Notifier par e-mail lorsqu'il y a des tâches à en retard</p>
        </div>

    </div>
</div>