<div *ngIf="disposition == 'mosaic'" style="width: 100%;" class="row">
    <div *ngFor="let folder of folders" class="hover-effect"
      style="width: 130px; padding: 1rem; margin-right: 20px; cursor: pointer;" 
      [ngClass]="{'selected': isSelected({id: folder.id, type: 'folder'})}">
      <input type="checkbox" class="absolute" style="position: absolute; width: 20px; height: 20px; margin-left: 5px;" 
        (change)="onCheckboxChange($event, {id: folder.id, type: 'folder'})">
      <button class="" style="display: none; position: absolute; right: 8px; border: 0px; background: white; font-size: 18px;">
        <i class="fa-solid fa-ellipsis-vertical" style="color: #000 !important;"></i>
      </button>
      <i class="fa-solid fa-folder" (click)="openFolderById(folder.id, folder.name,page)"
        style="font-size: 100px; color: rgb(212, 71, 1) !important;"></i>
      <p>{{ folder.name }}</p>
    </div>
  
    <div *ngFor="let document of documents" class="hover-effect"
      style="width: 130px; padding: 1rem; margin-right: 20px; cursor: pointer;" 
      [ngClass]="{'selected': isSelected({id: document.id, type: 'file'})}">
      <input type="checkbox" class="absolute" style="position: absolute; width: 20px; height: 20px; margin-left: 5px;" 
        (change)="onCheckboxChange($event, {id: document.id, type: 'file'})">
      <i [class]="getIconName(document.extension)" [ngStyle]="{ color: getColor(document.extension) }" 
        (click)="gotoDetailsDocument(document.id)" style="font-size: 100px;"></i>
      <p>{{ document.title }}</p>
    </div>
  </div>
  
  <div *ngIf="disposition == 'list'" style="width: 100%;" class="row">
    <table class="table table-hover" style="margin-bottom: 0px;">
      <thead>
        <tr>
          <th scope="col" style="width: 85px;"></th>
          <th scope="col"><i class="fa-solid fa-arrow-down-wide-short"></i> Nom </th>
          <th scope="col" style="width: 100px;"><i class="fa-solid fa-arrow-down-wide-short"></i> Taille </th>
          <th scope="col" style="width: 150px;"><i class="fa-solid fa-arrow-down-wide-short"></i> Ajouté par</th>
          <th scope="col" style="width: 150px;"><i class="fa-solid fa-arrow-down-wide-short"></i> Date </th>
          <th scope="col" style="width: 15px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let folder of folders | paginate: { itemsPerPage: perPage, currentPage: page,totalItems: totalItems  }; let i = index" style="cursor: pointer;" 
          [ngClass]="{'selected': isSelected({id: folder.id, type: 'folder'})}">
          <th scope="row" style="vertical-align: middle;">
            <input type="checkbox" (change)="onCheckboxChange($event, {id: folder.id, type: 'folder'})"
              style="margin-right: 10px;">
            <i class="fa-solid fa-folder" style="font-size: 25px; color: rgb(42, 140, 194) !important; padding-top: 5px;"></i>
          </th>
          <td style="word-break: break-word; font-size: 16px; vertical-align: middle;" 
            (click)="openFolderById(folder.id, folder.name,page)">
            <p>{{ folder.name }}</p>
          </td>
          <td></td>
          <td>{{ folder?.created_by?.name || '' }}</td>
          <td>{{ folder.created_at | customDateFormat }}</td>
          <td>
            <div class="dropdown">
              <button class="btn" [class.show]="activeActionBtnIndex === i" (click)="setActiveActionBtnIndex(i)" 
                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" [class.show]="activeActionBtnIndex === i"  
                aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"><i class="fa-solid fa-pencil"></i> Modifier</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-copy"></i> Copier</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-circle-arrow-right"></i> Déplacer</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-lock"></i> Gérer les accès</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-trash-can"></i> Supprimer</a>
              </div>
            </div>
          </td>
        </tr>
  
        <tr *ngFor="let document of documents; let i = index" style="cursor: pointer;" 
          [ngClass]="{'selected': isSelected({id: document.id, type: 'file'})}">
          <th scope="row" style="vertical-align: middle;">
            <input type="checkbox" style="margin-right: 10px;" (change)="onCheckboxChange($event, {id: document.id, type: 'file'})">
            <i [class]="getIconName(document.extension)" style="font-size: 25px;" [ngStyle]="{ color: getColor(document.extension) }"></i>
          </th>
          <td style="word-break: break-word; font-size: 16px; vertical-align: middle;" (click)="gotoDetailsDocument(document.id)">
            <p>{{ document.title }}</p>
          </td>
          <td>150 ko</td>
          <td>{{ document?.author?.name }}</td>
          <td>{{ document.created_at | customDateFormat }}</td>
          <td>
            <div class="dropdown">
              <button class="btn" [class.show]="activeActionBtnIndex === i + folders.length" 
                (click)="setActiveActionBtnIndex(i + folders.length)" type="button" id="dropdownMenuButton" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" [class.show]="activeActionBtnIndex === i + folders.length" 
                aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"><i class="fa-solid fa-pencil"></i> Modifier</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-copy"></i> Copier</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-circle-arrow-right"></i> Déplacer</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-lock"></i> Gérer les accès</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-trash-can"></i> Supprimer</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12">
  <pagination-controls 
    (pageChange)="pageChanged($event)"
    previousLabel="Précédent"
    nextLabel="Suivant"
    ></pagination-controls>
</div>
  