<div class="row">


    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Liste des nouveaux champs à ajouter</h3>
                <p class="mt-0"><i class="fa-solid fa-circle-info"></i> Les champs créés pourront être ajouté au modèle de document</p>
            </div>
            <div class="card-body">


                <div *ngFor="let item of fields; let i = index">
                    <div>








                        <ng-container *ngIf="item.type === 'number'">
                            <input type="text" [(ngModel)]="item.libelle" readonly placeholder="Libellé du champ" />
                            <input type="number" [placeholder]="item.type" readonly />
                        </ng-container>

                        <ng-container *ngIf="item.type === 'checkbox'">
                            <label *ngFor="let option of item.options; let j = index">
                              <input type="checkbox" [(ngModel)]="option.selected" />
                              <input type="text" [(ngModel)]="option.value" />
                              <button class="btn btn-primary" (click)="deleteOption(i, j)">Supprimer</button>
                            </label>
                            <button class="btn btn-success" (click)="addOption(i)">Ajouter une option</button>
                          </ng-container>

                    </div>
                </div>


                <div *ngFor="let divData of divsData; let i = index">

                    <ng-container *ngIf="divData.type === 'text'">
                        <div class="">
                            <div class="card border-1 col-md-12 col-lg-6" style="background: #39dc420a;">
                                <div class="card-header"
                                    style="display: flex;margin-top: -20px; background-color: #ffffff00; justify-content: space-between;">
                                    <input class="form-control" type="text" [(ngModel)]="divData.label"
                                        placeholder="Mettre le nom du champ ici" />
                                    <button class="btn btn-danger ml-3 close-btn" (click)="deleteDiv(i)" id="button-text">x</button>
                                </div>
                                <div class="card-body">
                                    <p class="field-p">
                                        Type: <span class="span-field">Texte</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="divData.type === 'number'">


                        <div class="">
                            <div class="card border-1 col-md-12 col-lg-6" style="background: #39dc420a;">
                                <div class="card-header"
                                    style="display: flex;margin-top: -20px; background-color: #ffffff00; justify-content: space-between;">
                                    <input class="form-control" type="text" [(ngModel)]="divData.label"
                                        placeholder="Mettre le nom du champ ici" />
                                    <button class="btn btn-danger ml-3 close-btn" (click)="deleteDiv(i)" id="button-text">x</button>
                                </div>
                                <div class="card-body">
                                    <p class="field-p">
                                        Type de champs: <span class="span-field">Nombre</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="divData.type === 'checkbox'">

                        <div class="">
                            <div class="card border-1 col-md-12 col-lg-6" style="background: #39dc420a;">
                                <div class="card-header"
                                    style="display: flex;margin-top: -20px; background-color: #ffffff00; justify-content: space-between;">
                                    <input class="form-control" type="text" [(ngModel)]="divData.label"
                                        placeholder="Mettre le nom du champ ici" />
                                    <button class="btn btn-danger ml-3 close-btn" (click)="deleteDiv(i)" id="button-text">x</button>
                                </div>
                                <div class="card-body">
                                    <p>Options</p>
                                    <ng-container *ngIf="divData.type === 'checkbox'" >
                                        <div style="display: flex; margin-top: 10px;" *ngFor="let option of divData.options; let j = index">
                                            <input class="form-control" style="width: 300px;" type="text" [(ngModel)]="option.value" />
                                            <!-- Vérifier si l'option est la dernière dans la liste pour afficher le bouton "Ajouter" -->
                                            <button *ngIf="j === divData.options.length - 1" class="btn btn-success ml-1" (click)="addOption(i)">Ajouter</button>
                                            <!-- Ne pas afficher le bouton de suppression pour l'option où le bouton "Ajouter" est affiché -->
                                            <span *ngIf="j !== divData.options.length - 1">
                                                <button class="btn btn-danger ml-1" (click)="deleteOption(i, j)"><i class="fa-solid fa-trash-can"></i></button>
                                            </span>
                                        </div>
                                        
                                    </ng-container>
                                    <p class="field-p mt-4">
                                        Type de champs: <span class="span-field">Choix multiples</span>
                                    </p>
                                    <p class="mt-0"><i class="fa-solid fa-circle-info"></i> Remplacer les options par vos valeurs</p>
       
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="divData.type === 'radio'">

                        <div class="">
                            <div class="card border-1 col-md-12 col-lg-6" style="background: #39dc420a;">
                                <div class="card-header"
                                    style="display: flex;margin-top: -20px; background-color: #ffffff00; justify-content: space-between;">
                                    <input class="form-control" type="text" [(ngModel)]="divData.label"
                                        placeholder="Mettre le nom du champ ici" />
                                    <button class="btn btn-danger ml-3 close-btn" (click)="deleteDiv(i)" id="button-text">x</button>
                                </div>
                                <div class="card-body">
                                    <p>Options</p>
                                    <ng-container *ngIf="divData.type === 'radio'" >
                                        <div style="display: flex; margin-top: 10px;" *ngFor="let option of divData.options; let j = index">
                                            <input class="form-control" style="width: 300px;" type="text" [(ngModel)]="option.value" />
                                            <!-- Vérifier si l'option est la dernière dans la liste pour afficher le bouton "Ajouter" -->
                                            <button *ngIf="j === divData.options.length - 1" class="btn btn-success ml-1" (click)="addOption(i)">Ajouter</button>
                                            <!-- Ne pas afficher le bouton de suppression pour l'option où le bouton "Ajouter" est affiché -->
                                            <span *ngIf="j !== divData.options.length - 1">
                                                <button class="btn btn-danger ml-1" (click)="deleteOption(i, j)"><i class="fa-solid fa-trash-can"></i></button>
                                            </span>
                                        </div>
                                        
                                    </ng-container>
                                    <p class="field-p mt-4">
                                        Type de champs: <span class="span-field">Choix unique</span>
                                    </p>
                                    <p class="mt-0"><i class="fa-solid fa-circle-info"></i> Remplacer les options par vos valeurs</p>
       
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="divData.type == 'date'">


                        <div class="">
                            <div class="card border-1 col-md-12 col-lg-6" style="background: #39dc420a;">
                                <div class="card-header"
                                    style="display: flex;margin-top: -20px; background-color: #ffffff00; justify-content: space-between;">
                                    <input class="form-control" type="text" [(ngModel)]="divData.label"
                                        placeholder="Mettre le nom du champ ici" />
                                    <button class="btn btn-danger ml-3 close-btn" (click)="deleteDiv(i)" id="button-text">x</button>
                                </div>
                                <div class="card-body">
                                    <p class="field-p">
                                        Type de champs: <span class="span-field">Date</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #numberOrCheckbox>


                    </ng-template>
                </div>
            </div>
            <div *ngIf="divsData.length > 0">
                <button class="btn btn-success">Ajouter les champs personnalisés</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>Liste des champs personnalisés éxistants</h5>
            </div>
            <div class="card-body">


                <div *ngFor="let item of fields; let i = index">
                    <div>







                        <ng-container *ngIf="item.type === 'text'">

                            <div class="input-group" style="margin-top: 20px;">
                                <span class="input-group-text">Nom De Champ</span>
                                <input type="text" [(ngModel)]="item.libelle" readonly placeholder="Libellé du champ"
                                    class="form-control">
                                <span class="input-group-text">Type De Champ</span>
                                <input type="text" [placeholder]="item.type" readonly class="form-control">
                                <button (click)="deleteDiv(i)"
                                    style="background-color: red;color: white; border-radius: 50%; width: 30px; height: 30px;">x</button>

                            </div>




                        </ng-container>

                        <ng-container *ngIf="item.type === 'number'">
                            <input type="text" [(ngModel)]="item.libelle" readonly placeholder="Libellé du champ" />
                            <input type="number" [placeholder]="item.type" readonly />
                        </ng-container>

                        <ng-container *ngIf="item.type === 'checkbox'">
                            <input type="text" [(ngModel)]="item.libelle" readonly placeholder="Libellé du champ" />
                            <label><input type="checkbox" /> Option 1</label>
                            <label><input type="checkbox" /> Option 2</label>
                            <label><input type="checkbox" /> Option 3</label>
                        </ng-container>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="container">
            <div class="row">
                <div class="">
                    <h3>Liste des champs</h3>
                    <p style="color: orange;">Cliquer sur le bouton plus (+) pour l'ajouter</p>
                </div>
            </div>
            <div class="">

                <div class="">
                    <div class="card">
                        <div class="card-header" style="display: flex; justify-content: space-between;">
                            <h5>Champ Texte</h5>
                            <button class="btn-add-field btn btn-success" (click)="addDiv('text')" id="button-text">+</button>
                        </div>
                        <div class="card-body">
                            <input type="texte" class="form-control" placeholder="Champs type texte">
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="card">
                        <div class="card-header" style="display: flex; justify-content: space-between;">
                            <h5>Champ numérique</h5>
                            <button class="btn-add-field btn btn-success" (click)="addDiv('number')" id="button-number">+</button>
                        </div>

                        <div class="card-body">
                            <input type="number" class="form-control" placeholder="Entrez un nombre">
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="card">
                        <div class="card-header" style="display: flex; justify-content: space-between;">
                            <h5>Liste déroulante</h5>
                            <button class="btn-add-field btn btn-success" (click)="addDiv('select')"
                                id="button-liste déroulante">+</button>
                        </div>
                        <div class="card-body">
                            <select class="form-control">
                                <option>Choix 1</option>
                                <option>Choix 2</option>
                                <option>Choix 3</option>
                                <option>Choix 4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="">

                    <div class="card">
                        <div class="card-header" style="display: flex; justify-content: space-between;">
                            <h5>Champ Choix multiple</h5>
                            <button class="btn-add-field btn btn-success" (click)="addDiv('checkbox')"
                                id="button-multi-choise">+</button>
                        </div>
                        <div class="card-body">
                            <input type="checkbox" name="choix[]" value="1"> Choix 1
                            <input type="checkbox" name="choix[]" value="2"> Choix 2
                            <input type="checkbox" name="choix[]" value="3"> Choix 3
                            <input type="checkbox" name="choix[]" value="4"> Choix 4
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="card">
                        <div class="card-header" style="display: flex; justify-content: space-between;">
                            <h5>Choix unique</h5>
                            <button class="btn-add-field btn btn-success" (click)="addDiv('radio')" id="button-radio">+</button>
                        </div>
                        <div class="card-body">
                            <input type="radio" name="choix" value="1"> Choix 1
                            <input type="radio" name="choix" value="2"> Choix 2
                            <input type="radio" name="choix" value="3"> Choix 3
                            <input type="radio" name="choix" value="4"> Choix 4
                        </div>
                    </div>
                </div>
                <div class="">

                    <div class="card">
                        <div class="card-header" style="display: flex; justify-content: space-between;">
                            <h5>Champ date</h5>
                            <button class="btn-add-field btn btn-success" (click)="addDiv('date')" id="button-date">+</button>
                        </div>
                        <div class="card-body">
                            <input type="date" class="form-control">
                        </div>

                    </div>

                </div>
            </div>




        </div>

    </div>
</div>