.btn-add-field{
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-top: -27px;
    display: flex;
    justify-content: center;
    align-items: center;
}                       
.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
    background: #cde9ff;
}
.border-1 {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}
.span-field{
    color: orangered;
    font-size: 18px;
}
.close-btn{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-top: -5px;
}