.card{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 0px;
        color: var(--bs-card-color);
        height: 350px;
    
}

.table-responsive {
    height: 285px;
}