<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18"></h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Email</a></li>
                        <li class="breadcrumb-item active">Boite de réception</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        
            <!-- Left sidebar -->
            <div class="card col-md-12 col-lg-12">
<!--                 <button type="button" class="btn btn-danger btn-block waves-effect waves-light mt-1" data-bs-toggle="modal"
                    data-bs-target="#composemodal">
                    Nouveau Courrier
                </button>
                <div class="mail-list mt-4">
                    <a href="javascript: void(0);" class="active"><i class="mdi mdi-email-outline me-2"></i> Courriers
                        Reçus<span class="ms-1 float-end">(18)</span></a>
                    <a href="javascript: void(0);"><i class="mdi mdi-star-outline me-2"></i>En Attentes</a>
                    <a href="javascript: void(0);"><i class="mdi mdi-diamond-stone me-2"></i>Très urgents</a>
                    <a href="javascript: void(0);"><i class="mdi mdi-file-outline me-2"></i>Urgents</a>
                    <a href="javascript: void(0);"><i class="mdi mdi-trash-can-outline me-2"></i>Date Limite</a>
                    <a href="javascript: void(0);"><i class="mdi mdi-trash-can-outline me-2"></i>Importants</a>
                </div> -->


            </div>
            <!-- End Left sidebar -->
            <div class="col-md-12 col-lg-12">
                <router-outlet></router-outlet>
            </div>

   

    </div><!-- End row -->

</div>