/* You can add global styles to this file, and also import other style files */
@import './app/styles/dark-theme.scss';
@import './app/styles/light-theme.scss';
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
 .card {
    border: 1px solid rgba(187, 187, 187, 0.7294117647) !important;
}

.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after, .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
    color: #89ff00 !important;
}
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: #12eb00 !important;
}

.table>:not(caption)>*>* {
    padding: .75rem .75rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: #ffffff00;
    border-bottom-width: var(--bs-border-width);
    -webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

.font-size-10 { font-size: 10px; }
.font-size-11 { font-size: 11px; }
.font-size-12 { font-size: 12px; }
.font-size-13 { font-size: 13px; }
.font-size-14 { font-size: 14px; }
.font-size-15 { font-size: 15px; }
.font-size-16 { font-size: 16px; }
.font-size-17 { font-size: 17px; }
.font-size-18 { font-size: 18px; }
.font-size-19 { font-size: 19px; }
.font-size-20 { font-size: 20px; }
.font-size-21 { font-size: 21px; }
.font-size-22 { font-size: 22px; }
.font-size-23 { font-size: 23px; }
.font-size-24 { font-size: 24px; }
.font-size-25 { font-size: 25px; }
.font-size-26 { font-size: 26px; }
.font-size-27 { font-size: 27px; }
.font-size-28 { font-size: 28px; }
.font-size-29 { font-size: 29px; }
.font-size-30 { font-size: 30px; }
.font-size-31 { font-size: 31px; }
.font-size-32 { font-size: 32px; }
.font-size-33 { font-size: 33px; }
.font-size-34 { font-size: 34px; }
.font-size-35 { font-size: 35px; }
.font-size-36 { font-size: 36px; }
.font-size-37 { font-size: 37px; }
.font-size-38 { font-size: 38px; }
.font-size-39 { font-size: 39px; }
.font-size-40 { font-size: 40px; }

.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }
.font-weight-800 { font-weight: 800; }
.font-weight-900 { font-weight: 900; }
.flex1{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}

.heigth-100vh{
    height:100vh
}

hr:not([size]) {
    height: 1px;
    color: #7d7d7d26;
}

.cursor-pointer{
    cursor: pointer;

}

#sidebar-menu ul li a {

    font-size: 15px;

}

.modal-content {

    border: 0px solid #bbbbbb00 !important;

}

body[data-sidebar=dark] .navbar-brand-box {
    background: #30a3ff !important;
    border-bottom: 0px solid #393938 !important;
  }


  .border-0{

    border:0px solid !important
  }

  
  .border-1{

    border:1px solid #bbb 
  }


  .border-radius-round{
    border-radius: 50%;
  }

  .border-radius-10{
    border-radius: 10px;
  }


  .border-radius-20{
    border-radius: 20px;
  }

  @keyframes scaleIn {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes scaleOut {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  .scale-in {
    animation: scaleIn 0.1s forwards;
  }
  
  .scale-out {
    animation: scaleOut 0.3s forwards;
  }
  

  .app-search .form-control {
    border-radius: 6px;
    width: 500px;
}