<div class="container"> <!-- Right Sidebar -->
    <div class=" mb-3">

        <div class="card">
            <div class="btn-toolbar p-3" role="toolbar">
                <div class="btn-group me-2 mb-2 mb-sm-0">
                    <button type="button" class="btn btn-primary waves-light waves-effect"><i
                            class="fa fa-inbox"></i></button>
                    <button type="button" class="btn btn-primary waves-light waves-effect"><i
                            class="fa fa-exclamation-circle"></i></button>
                    <button type="button" class="btn btn-primary waves-light waves-effect"><i
                            class="far fa-trash-alt"></i></button>
                </div>
                <div class="btn-group me-2 mb-2 mb-sm-0">
                    <button type="button" class="btn btn-primary waves-light waves-effect" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa fa-folder"></i> <i class="mdi mdi-chevron-down ms-1"></i>
                    </button>
                </div>


                <div class="btn-group me-2 mb-2 mb-sm-0">
                    <button type="button" class="btn btn-primary waves-light waves-effect" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Plus<i class="mdi mdi-dots-vertical ms-2"></i>
                    </button>

                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>

                        <tr *ngFor="let courrier of courriers |
                                     paginate: { itemsPerPage: perPage, currentPage: page,totalItems: totalItems  }"
                            (click)="gotoDetailsCourrierPage(courrier.id, courrier.subject,courrier.last_annotation,courrier.user_sender_info.email,courrier.user_sender_info.name,courrier.created_at)"
                            [ngStyle]="{'background': courrier.read ? '#d5dbff78' : ''}" style="cursor: pointer;">
                            <td class="action" style="width: 40px;"><input type="checkbox" /></td>
                            <td class="action" style="width: 40px;"><i class="fa-regular fa-star"></i></td>
                            <td class="name" style="width: 200px;">{{courrier.user_sender_info.name}}</td>
                            <td class="action" style="width: 40px;"><i _ngcontent-ng-c1605945726=""
                                    class="fa-solid fa-paperclip"></i></td>

                            <td class="subject">

                                <span [ngClass]="{
                                        'bg-warning': courrier.priority == 2,
                                        'bg-success': courrier.priority == 1,
                                        'bg-danger': courrier.priority == 3,
                                        'badge': true,
                                        'me-2': true
                                      }">
                                    {{
                                    courrier.priority == 1 ? 'Normale' :
                                    courrier.priority == 2 ? 'Urgente' :
                                    courrier.priority == 3 ? 'Très Urgente' :
                                    courrier.priority
                                    }}</span><span
                                    style="font-weight: 500;  font-size: 16px;">{{courrier.subject}}</span>

                                <p class="mb-0">{{courrier.last_annotation | slice:0:120 }}...</p>
                            </td>

                            <td class="time" style="width: 100px;">{{courrier.created_at | customDateFormat}} Date
                                annotation</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div><!-- card -->

        <div class="row">
            <div class="col-5">
                Total: {{totalItems}} Courriers
            </div>
            <div class="col-5">
                <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Précédent"
                    nextLabel="Suivant"></pagination-controls>
            </div>
        </div>

    </div> <!-- end Col-9 -->
</div>