<div class="container"> <!-- Right Sidebar -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Courriers</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">courriers</a></li>
                        <li class="breadcrumb-item active">Boite de courriers</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <div class=" mb-3">
   
        <div class="card border-0">
            <div class="btn-toolbar p-3" role="toolbar">


                <button (click)="onFilteredCourrierChange('',1)" 
                class="btn border-1 border-radius-20 mr-1 " [ngClass]="selectFilterCourrier == 1 ? 'select-option-filter' : ''" 
                style="background: #f6f8fa;">Tous les courriers</button>
                
                <button (click)="onFilteredCourrierChange('unreads',2)"  class="btn border-1 border-radius-20 mr-1" style="background: #f6f8fa;"
                [ngClass]="selectFilterCourrier == 2 ? 'select-option-filter' : ''"
                >Non lus</button>

                <button
                (click)="onFilteredCourrierChange('i_initied',3)" 
                class="btn border-1 border-radius-20 mr-1"
                 style="background: #f6f8fa;"
                 [ngClass]="selectFilterCourrier == 3 ? 'select-option-filter' : ''"
                 >Que j'ai initié</button>
                
                <button (click)="onFilteredCourrierChange('urgents',4)" 
                class="btn border-1 border-radius-20 mr-1"
                 style="background: #f6f8fa;"
                 [ngClass]="selectFilterCourrier == 4 ? 'select-option-filter' : ''"
                 >Urgents</button>
            
            </div>


            <ngx-skeleton-loader
            appearance="line"
            count="15"
            [theme]="{ height: '50px' }"
            *ngIf="isLoading"
          >
          </ngx-skeleton-loader>

            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>

                        <tr *ngFor="let courrier of courriers |
                                     paginate: { itemsPerPage: perPage, currentPage: page,totalItems: totalItems  }"
                            (click)="gotoDetailsCourrierPage(courrier.id, courrier.subject,courrier.last_annotation,courrier.user_sender_info.email,courrier.user_sender_info.name,courrier.created_at)"
                            [ngStyle]="{'background': courrier.read ? '#f0f2ff78' : ''}" style="cursor: pointer;">
                           <!--  <td class="action" style="width: 40px;"><input type="checkbox" /></td>
                            <td class="action" style="width: 40px;"><i class="fa-regular fa-star"></i></td> -->
                            <td class="name" style="width: 50px;">
                                <app-circle-name-component [name]="courrier.user_sender_info.name"></app-circle-name-component>
                            </td>
                            <td class="action" style="width: 40px;"><i _ngcontent-ng-c1605945726=""
                                    class="fa-solid fa-paperclip"></i></td>

                            <td class="subject">
                                <p class="font-size-12 font-weigther-500 mb-0">{{courrier.user_sender_info.name}}</p>
                                <span [ngClass]="{
                                        'bg-warning': courrier.priority == 2,
                                        'bg-success': courrier.priority == 1,
                                        'bg-danger': courrier.priority == 3,
                                        'badge': true,
                                        'me-2': true
                                      }">
                                    {{
                                    courrier.priority == 1 ? 'Normale' :
                                    courrier.priority == 2 ? 'Urgente' :
                                    courrier.priority == 3 ? 'Très Urgente' :
                                    courrier.priority
                                    }}</span><span
                                    style="font-weight: 500;  font-size: 16px;" [ngStyle]="{'font-weight': courrier.read ? '400' : '500'}">{{courrier.subject}} 
                                    <span *ngIf="courrier.position_in_workflow > 0" class="font-size-10 ml-2" style="color:#9e0086; margin-top:-5px; position:absolute">Workflow</span>
                                 </span>

                                <p class="mb-0 p-description">{{courrier.last_annotation | safeHtml  }}</p>
                            </td>

                            <td class="time" style="width: 100px;">{{courrier.updated_at | customDateFormat}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div><!-- card -->

        <div class="row">
            <div class="col-5">
                Total: {{totalItems}} Courriers
            </div>
            <div class="col-5">
                <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Précédent"
                    nextLabel="Suivant"></pagination-controls>
            </div>
        </div>

    </div> <!-- end Col-9 -->
</div>