.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-color: rgb(200 200 200) !important;
    background-color: transparent;
}

.select-option-filter{
    background: #deebff !important;
    border: 2px solid blue  !important;
}

.p-description{

        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      
    
}