.user-search-dropdown{
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 10px;
    margin-top: 10px;
    position:   absolute;
    border: 1px solid #d1d1d1;
    background: white;
    z-index: 1000;
}

#basic-addon2{
    height: 100%;
    background: #f0f8ff00;
    border: 0px;
}

.search-input-group{
    border-bottom:1px solid #e8e8e8 ;
}

.users-container{
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.input-search{

    margin: 5px;

}

.checkbox-user {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    margin-top: 17px;
    margin-left: 6px;
    width: 16px !important;
}


.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    background: #00026c;
  }
  
  .flex-user:hover{

    background: #8585851a;
    border-left: 2px solid rgb(0, 88, 110);

  }

  .flex-user{

    padding: 10px 5px;
    cursor: pointer;
    border-bottom: 1px solid #d9d9d9;
    border-left: 2px solid #cccccc00;

    

  }
  input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 16px;
    margin-right: 10px !important;
}