.user-search-dropdown{
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 10px;
    margin-top: 10px;
    position:   absolute;
    border: 1px solid #d1d1d1;
    background: white;
    z-index: 1000;
}

#basic-addon2{
    height: 100%;
    background: #f0f8ff00;
    border: 0px;
}

.search-input-group{
    border-bottom:1px solid #e8e8e8 ;
}

.users-container{
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.input-search{

    margin: 5px;

}

.checkbox-user {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    margin-top: 17px;
    margin-left: 6px;
    width: 16px !important;
}

.red-border {
    border: 1px solid red;
  }


  .form-control.is-invalid, .form-select.is-invalid {
    border-color: #dc3545;
  }
  
  .form-control.is-valid, .form-select.is-valid {
    border-color: #28a745;
  }
 
  
  .is-invalid, .is-invalid {
    border-color: #dc3545;
  }
  
  .is-valid, .is-valid {
    border-color: #28a745;
  }



  .form-control:focus, .form-select:focus {
    box-shadow: none;
  }
  
  .form-control.is-invalid:focus, .form-select.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
  
.is-invalid:focus, .is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }

  .is-valid:focus, .is-valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }

  .form-control.is-valid:focus, .form-select.is-valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }

  .input-group-text {

    text-align: center;
    white-space: nowrap;
    background-color: #ffffff00;

}